%% -*- erlang -*-
{cover_enabled, true}.

{cover_export_enabled, true}.

{cover_excl_mods, [ebus_nif]}.

{deps, [
    {lager, "3.9.1"}
]}.

{erl_opts, [
    {parse_transform, lager_transform},
    debug_info,
    warnings_as_errors
]}.

{pre_hooks, [
    {compile, "cmake -B_build/c_src -Hc_src"},
    {compile, "cmake --build _build/c_src -- install"}
]}.

{post_hooks, [{clean, "cmake --build _build/c_src -- clean"}]}.

{dialyzer, [
    {warnings, [unknown]},
    {plt_apps, all_deps}
]}.

{xref_checks, [
    undefined_function_calls,
    undefined_functions,
    locals_not_used,
    deprecated_function_calls,
    deprecated_functions
]}.

{shell, [
    {apps, [lager, ebus]}
]}.

{profiles, [
    {test, [
        {deps, [
            cth_readable,
            meck
        ]}
    ]}
]}.
