%% -*- erlang -*-
{cover_enabled, true}.
{cover_export_enabled, true}.
{cover_excl_mods, [ebus_nif]}.

{deps, [{lager, "3.6.5"}]}.

{erl_opts, [
            {parse_transform, lager_transform},
            debug_info,
            warnings_as_errors
           ]}.

{pre_hooks,
  [{"(linux|darwin|solaris)", compile, "make -C c_src"},
   {"(freebsd)", compile, "gmake -C c_src"}]}.
{post_hooks,
  [{"(linux|darwin|solaris)", clean, "make -C c_src clean"},
   {"(freebsd)", clean, "gmake -C c_src clean"}]}.

{dialyzer, [
            {warnings, [unknown]},
            {plt_apps,all_deps}
           ]}.

{xref_checks,[undefined_function_calls,undefined_functions,locals_not_used,
              deprecated_function_calls, deprecated_functions]}.

{shell, [
         {apps, [lager, ebus]}
        ]}.

{profiles, [
    {test, [
        {deps, [
            cth_readable,
            meck
        ]}
    ]}
]}.
